import tkinter
from tkinter import *
from tkinter import ttk

# Cores
co0 = "#444466"  # Preta
co1 = "#feffff"  # branca / white
co2 = "#6f9fbd"  # azul
co3 = "#38576b"  # valor
co4 = "#403d3d"  # letra
co5= '#e89613'    # laranja

# Parte da dimensões da tela
tela = Tk()
tela.title('')
tela.geometry('400x310')
tela.configure(bg=co3)

estilo = ttk.Style()
estilo.theme_use('clam')
ttk.Separator(tela,orient = HORIZONTAL).grid(row = 0,columnspan = 1, ipadx = 190)

# Dividindo a janela em dois quadros

f_cima = Frame(tela,width=400, height=60, bg = co1, pady = 0, padx=0)
f_cima.grid(row = 1, column = 0)

f_baixo = Frame(tela,width=400, height=300, bg = co0, pady = 12, padx=20)
f_baixo.grid(row = 2, column = 0, sticky=NW)

# Configurando f_cima

app_nome = Label(f_cima, text='Conversor de Base Númerica', relief=FLAT, anchor = 'center', font=('System 20'),
bg = co2, fg = co1)

app_nome.place(x = 7, y = 15)

# Função para converter as bases
def converter():
    def entrada_para_decimal(numero,base):

        # Número decimal correspondente
        decimal = int(numero, base)

        binario = bin(decimal)
        octal = oct(decimal)
        hexadecimal = hex(decimal)


        caixa_binario['text'] = str(binario[2:])
        caixa_octal['text'] = str(octal[2:])
        caixa_decimal['text'] = str(decimal)
        caixa_hexa['text'] = str(hexadecimal[2:].upper())

    numero =  valor_conversao.get()
    base = combo.get()
    
    # Definindo o valor da base
    if base == 'BINARIO':
        base = 2
    elif base == 'OCTAL':
        base == 8
    elif base == 'DECIMAL':
        base = 10
    else:
        base = 16
    # Chamando a função
    entrada_para_decimal(numero,base)
    


# COnfigurando f_baixo

bases = ['BINARIO','OCTAL', 'DECIMAL', 'HEXADECIMAL']

combo = ttk.Combobox(f_baixo, width=12, justify=CENTER,font=('Ivy 12 bold'))
combo['values'] = (bases)
combo.place(x= 20, y = 10)
# x = 35 y = 10

# Parte feita para área de conversão
valor_conversao = Entry(f_baixo, width=9, justify='center',font=('',13), highlightthickness=1,relief = 'solid')
valor_conversao.place(x = 175, y = 9)
# x = 190

# Botão de conversão do número
botao_conversao = Button(f_baixo, command = converter, text='CONVERTER', relief=RAISED,overrelief=RIDGE, font=('Ivy 8'),bg = co5, fg = co1)
botao_conversao.place(x = 285, y = 9)

# Mostrar a caixa de texto com o do que foi convertido(BINARIO)
caixa_binario = Label(f_baixo, text='BINARIO',width=12, relief=FLAT, anchor = 'nw', font=('Verdana 12'),bg = co4, fg = co1)
caixa_binario.place(x = 35, y = 60)
caixa_binario = Label(f_baixo, text='',width=13, relief=FLAT, anchor = 'center', font=('Verdana 12'), fg = co3)
caixa_binario.place(x = 158, y = 60)

# Mostrar a caixa de texto com o do que foi convertido(Octal)
caixa_octal = Label(f_baixo, text='OCTAL',width=12, relief=FLAT, anchor = 'nw', font=('Verdana 12'),bg = co4, fg = co1)
caixa_octal.place(x = 35, y = 100)
caixa_octal = Label(f_baixo, text='',width=13, relief=FLAT, anchor = 'center', font=('Verdana 12'), fg = co3)
caixa_octal.place(x = 158, y = 100)

# Mostrar a caixa de texto com o do que foi convertido(DECIMAL)
caixa_decimal = Label(f_baixo, text='DECIMAL',width=12, relief=FLAT, anchor = 'nw', font=('Verdana 12'),bg = co4, fg = co1)
caixa_decimal.place(x = 35, y = 140)
caixa_decimal = Label(f_baixo, text='',width=13, relief=FLAT, anchor = 'center', font=('Verdana 12'), fg = co3)
caixa_decimal.place(x = 158, y = 140)

# Mostrar a caixa de texto com o do que foi convertido(HEXADECIMAL)
caixa_hexa= Label(f_baixo, text='HEXADECIMAL',width=12, relief=FLAT, anchor = 'nw', font=('Verdana 12'),bg = co4, fg = co1)
caixa_hexa.place(x = 35, y = 180)
caixa_hexa = Label(f_baixo, text='',width=13, relief=FLAT, anchor = 'center', font=('Verdana 12'), fg = co3)
caixa_hexa.place(x = 158, y = 180)

tela.mainloop()
